@font-face {
    font-family:"Kanit";
    src: url(assets/font/Kanit-Regular.ttf);
}

body {
    font-family: "Kanit";
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    font-size: 40px;
}
#game-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#game-board{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px;
    height: 500px;
    width: 500px;
    gap: 0px;
    margin-left:50px ;
   
}
.board-button{
    height: 150px;
    width: 150px;
    background-color: white;
    border: none;
    font-size: 80px;
}
.board-button:hover{
    cursor: pointer;
}
.border-left{
    border-left: 10px solid;
}
.border-right{
    border-right: 10px solid;
}
.border-top{
    border-top: 10px solid;
}
.border-bottom{
    border-bottom: 10px solid;
}
#player-box{
    height: 200px;
    width: 200px;
    font-size: 25px;
    border-left: 1px solid;  
    border-right: 1px solid;  
}
#p2-score{
    margin-top: 0px;
    font-size: 40px;
}
#p1-score{
    margin-top: 0px;
    font-size: 40px;
}
#button-container{
    margin: 10px;
}
#replay-button{
    height: 50px;
    width: 150px;
    background: none;
    border-radius: 5px;
    font-size: 20px;
}
#replay-button:active{
    transform: scale(0.9);
}
#reset-button{
    margin-left: 20px;
    height: 50px;
    width: 150px;
    background: none;
    border-radius: 5px;
    font-size: 20px;
}
#reset-button:active{
    transform: scale(0.9);
}
.hidden{
    opacity: 0;
    z-index: -9;
}
#win-overlay-line{
    height: 20px;
    width: 450px;
    background-color: gray;
    position: relative;
  
}