@font-face {
    font-family:"Kanit";
    src: url(assets/font/Kanit-Regular.ttf);
}

body {
    font-family: "Kanit";
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    font-size: 40px;
}
#game-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#game-board{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px;
    height: 500px;
    width: 500px;
    gap: 0px;
    margin-left:50px ;
   
}
.board-button{
    height: 150px;
    width: 150px;
    background-color: white;
    border: none;
    font-size: 80px;
}
.border-left{
    border-left: 10px solid;
}
.border-right{
    border-right: 10px solid;
}
.border-top{
    border-top: 10px solid;
}
.border-bottom{
    border-bottom: 10px solid;
}
#player-box{
    height: 200px;
    width: 200px;
    font-size: 25px;
    border: 1px solid;  
}
#replay-button{
    height: 50px;
    width: 150px;
    background: none;
    border-radius: 5px;
    font-size: 20px;
}
#replay-button:active{
    transform: scale(0.9);
}
